In [5]:
%pip install dataset

import os
import pandas as pd
import h5py
import dataset

Collecting dataset
  Downloading dataset-1.6.2-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: alembic>=0.6.2 in /opt/conda/lib/python3.10/site-packages (from dataset) (1.8.1)
Requirement already satisfied: sqlalchemy<2.0.0,>=1.3.2 in /opt/conda/lib/python3.10/site-packages (from dataset) (1.4.44)
Collecting banal>=1.0.1
  Downloading banal-1.0.6-py2.py3-none-any.whl (6.1 kB)
Requirement already satisfied: Mako in /opt/conda/lib/python3.10/site-packages (from alembic>=0.6.2->dataset) (1.2.4)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy<2.0.0,>=1.3.2->dataset) (2.0.1)
Requirement already satisfied: MarkupSafe>=0.9.2 in /opt/conda/lib/python3.10/site-packages (from Mako->alembic>=0.6.2->dataset) (2.1.1)
Installing collected packages: banal, dataset
Successfully installed banal-1.0.6 dataset-1.6.2
Note: you may need to restart the kernel to use updated packages.

In [10]:
%ls
path ="datasets/NILM/iawe.h5"

meter_keys = ['/building1/elec/meter1', '/building1/elec/meter2', '/building1/elec/meter3', '/building1/elec/meter4', '/building1/elec/meter5', '/building1/elec/meter6', '/building1/elec/meter7', '/building1/elec/meter8', '/building1/elec/meter9', '/building1/elec/meter10', '/building1/elec/meter11', '/building1/elec/meter12']

datasets/  Energy_graph/  shared/  Untitled.ipynb

In [9]:
with pd.HDFStore(path, 'r') as hdf:
    keys = hdf.keys()
print(keys)

['/building1/elec/meter1', '/building1/elec/meter10', '/building1/elec/meter11', '/building1/elec/meter12', '/building1/elec/meter2', '/building1/elec/meter3', '/building1/elec/meter4', '/building1/elec/meter5', '/building1/elec/meter6', '/building1/elec/meter7', '/building1/elec/meter8', '/building1/elec/meter9', '/building1/elec/cache/meter9/good_sections', '/building1/elec/cache/meter9/total_energy', '/building1/elec/cache/meter8/good_sections', '/building1/elec/cache/meter8/total_energy', '/building1/elec/cache/meter7/total_energy', '/building1/elec/cache/meter6/good_sections', '/building1/elec/cache/meter6/total_energy', '/building1/elec/cache/meter5/total_energy', '/building1/elec/cache/meter4/good_sections', '/building1/elec/cache/meter4/total_energy', '/building1/elec/cache/meter3/good_sections', '/building1/elec/cache/meter3/total_energy', '/building1/elec/cache/meter12/total_energy', '/building1/elec/cache/meter11/total_energy', '/building1/elec/cache/meter10/good_sections', '/building1/elec/cache/meter10/total_energy', '/building1/elec/cache/meter1/good_sections']

In [12]:
df = pd.read_hdf(path, key='/building1/elec/meter11')

In [12]:
dfs = {}
for m in meter_keys:
    df = pd.read_hdf(path, key=m)
    meter = m.split('/')[-1]
    dfs[meter] = df

In [13]:
dfs["meter1"].head()

physical_quantity          power                         frequency  \
type                      active      reactive apparent
2013-05-24 05:30:00+05:30    0.0  6.000030e-18      0.0  49.997299
2013-05-24 05:30:01+05:30    0.0  6.000030e-18      0.0  49.994900
2013-05-24 05:30:02+05:30    0.0  6.000030e-18      0.0  49.994900
2013-05-24 05:30:03+05:30    0.0  6.000030e-18      0.0  49.993099
2013-05-24 05:30:04+05:30    0.0  6.000030e-18      0.0  49.991501

physical_quantity             voltage            pf       current
type
2013-05-24 05:30:00+05:30  232.326004  1.000000e-18  6.000030e-18
2013-05-24 05:30:01+05:30  232.326004  1.000000e-18  6.000030e-18
2013-05-24 05:30:02+05:30  232.326004  1.000000e-18  6.000030e-18
2013-05-24 05:30:03+05:30  232.311005  1.000000e-18  6.000030e-18
2013-05-24 05:30:04+05:30  232.292999  1.000000e-18  6.000030e-18

UnboundLocalError: local variable 'dataset' referenced before assignment