In [4]:
%pip install pyarrow

Collecting pyarrow
  Using cached pyarrow-12.0.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (38.9 MB)
Requirement already satisfied: numpy>=1.16.6 in /opt/conda/lib/python3.10/site-packages (from pyarrow) (1.23.5)
Installing collected packages: pyarrow
Successfully installed pyarrow-12.0.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import os
import numpy as np
from datetime import date

# HUE dataset

In [17]:
metadata_hue = pd.read_parquet("./Energy_graph/data/energy-forecast/data/processed/HUE_metadata.parquet")

# metadata_refit = pd.read_parquet("./Energy_graph/data/energy-forecast/data/processed/refit_metadata.parquet")

metadata_hue["name"] = "HUE_" + metadata_hue["residential_id"].astype(str)

metadata_hue["first_reading"] = pd.to_datetime(metadata_hue["first_reading"])
metadata_hue["last_reading"] = pd.to_datetime(metadata_hue["last_reading"])

metadata_hue.reset_index(drop=True, inplace=True)
metadata_hue.drop(columns=["residential_id", "region", "tz"], inplace=True)
col = metadata_hue.pop("name")
metadata_hue.insert(0,"name", col)
metadata_hue

,name,first_reading,last_reading,house_type,facing,RUs,EVs,SN,FAGF,HP,...,NAC,FAC,PAC,BHE,IFRHE,WRHIR,GEOTH,country,lat,lon
0,HUE_1,2012-06-01,2015-10-03,bungalow,S,1.0,0.0,1.0,1,1,...,0,0,0,0,0,0,0,Canada,49.083333,-122.350
1,HUE_2,2016-06-09,2019-11-20,duplex,N,0.0,0.0,2.0,0,0,...,1,0,0,0,0,0,0,Canada,49.083333,-122.350
2,HUE_3,2015-01-27,2018-01-29,modern,S,2.0,0.0,0.0,0,0,...,1,0,0,1,0,0,0,Canada,49.083333,-122.350
3,HUE_4,2015-01-30,2018-01-29,character,W,1.0,0.0,0.0,1,0,...,1,0,0,0,0,0,0,Canada,49.083333,-122.350
4,HUE_5,2015-01-30,2018-01-29,modern,S,1.0,0.0,0.0,0,0,...,1,0,0,0,0,0,0,Canada,49.083333,-122.350
5,HUE_6,2015-01-30,2018-01-29,apartment,SW,0.0,0.0,0.0,0,0,...,1,0,0,1,0,0,0,Canada,49.083333,-122.350
6,HUE_8,2015-02-21,2018-02-20,character,S,0.0,0.0,0.0,1,0,...,0,0,1,0,0,0,0,Canada,49.083333,-122.350
7,HUE_9,2015-05-01,2018-02-21,special,S,0.0,0.0,0.0,0,0,...,1,0,0,0,0,0,0,Canada,49.083333,-122.350
8,HUE_10,2015-02-21,2018-02-20,special,S,0.0,0.0,0.0,1,0,...,1,0,0,0,0,0,0,Canada,49.083333,-122.350
9,HUE_11,2015-02-21,2018-02-20,duplex,N,0.0,0.0,0.0,1,0,...,1,0,0,1,1,0,0,Canada,49.083333,-122.350
10,HUE_12,2015-02-21,2018-02-20,apartment,NW,0.0,0.0,0.0,0,0,...,1,0,0,0,0,0,0,Canada,49.083333,-122.350
11,HUE_13,2015-02-21,2018-02-20,special,N,1.0,0.0,0.0,1,0,...,1,0,0,0,0,0,0,Canada,49.083333,-122.350
12,HUE_14,2015-02-21,2018-02-20,modern,S,1.0,0.0,0.0,0,0,...,1,0,0,0,0,0,0,Canada,49.083333,-122.350
13,HUE_15,2015-09-29,2018-02-20,bungalow,ENE,1.0,0.0,0.0,1,0,...,1,0,0,0,0,0,0,Canada,48.511000,-123.413
14,HUE_16,2017-11-01,2019-02-18,apartment,NE,0.0,0.0,0.0,0,0,...,1,0,0,1,0,0,0,Canada,49.083333,-122.350
15,HUE_17,2016-06-01,2017-04-29,apartment,SW,0.0,0.0,0.0,0,0,...,1,0,0,1,0,0,0,Canada,49.083333,-122.350
16,HUE_18,2015-03-16,2018-03-15,bungalow,E,0.0,85.0,0.0,1,0,...,0,0,1,0,0,0,0,Canada,49.083333,-122.350
17,HUE_19,2015-03-26,2018-03-25,special,W,0.0,0.0,0.0,1,0,...,1,0,0,0,0,0,0,Canada,49.083333,-122.350
18,HUE_20,2015-08-21,2018-04-20,character,N,0.0,0.0,0.0,0,0,...,1,0,0,0,0,1,0,Canada,49.083333,-122.350
19,HUE_21,2017-11-01,2018-06-04,laneway,W,0.0,0.0,0.0,0,0,...,1,0,0,0,0,0,0,Canada,49.083333,-122.350
20,HUE_22,2016-06-29,2018-06-05,apartment,S,0.0,0.0,0.0,0,0,...,1,0,0,1,0,0,0,Canada,49.083333,-122.350
21,HUE_23,2017-07-27,2020-04-05,apartment,SE,0.0,0.0,0.0,0,0,...,1,0,0,1,0,0,0,Canada,49.083333,-122.350
22,HUE_24,2017-05-13,2020-05-12,modern,S,0.0,0.0,0.0,1,0,...,0,1,0,0,0,0,0,Canada,49.083333,-122.350
23,HUE_25,2017-05-15,2020-05-14,character,S,0.0,0.0,0.0,0,0,...,1,0,0,0,0,0,0,Canada,49.083333,-122.350
24,HUE_26,2019-11-29,2020-05-20,apartment,NNW,0.0,0.0,0.0,0,0,...,1,0,0,0,0,0,1,Canada,49.083333,-122.350
25,HUE_27,2019-03-06,2020-05-20,apartment,NW,0.0,0.0,0.0,0,0,...,1,0,0,1,0,0,0,Canada,49.083333,-122.350
26,HUE_28,2018-08-01,2020-05-19,special,N,0.0,0.0,0.0,1,0,...,1,0,0,0,0,0,0,Canada,49.083333,-122.350

,name,first_reading,last_reading,house_type,facing,region,RUs,EVs,SN,FAGF,...,FAC,PAC,BHE,IFRHE,WRHIR,GEOTH,country,lat,lon,tz
0,HUE_1,2012-06-01,2015-10-03,bungalow,S,YVR,1.0,0.0,1.0,1,...,0,0,0,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
1,HUE_2,2016-06-09,2019-11-20,duplex,N,YVR,0.0,0.0,2.0,0,...,0,0,0,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
2,HUE_3,2015-01-27,2018-01-29,modern,S,YVR,2.0,0.0,0.0,0,...,0,0,1,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
3,HUE_4,2015-01-30,2018-01-29,character,W,YVR,1.0,0.0,0.0,1,...,0,0,0,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
4,HUE_5,2015-01-30,2018-01-29,modern,S,YVR,1.0,0.0,0.0,0,...,0,0,0,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
5,HUE_6,2015-01-30,2018-01-29,apartment,SW,YVR,0.0,0.0,0.0,0,...,0,0,1,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
6,HUE_8,2015-02-21,2018-02-20,character,S,YVR,0.0,0.0,0.0,1,...,0,1,0,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
7,HUE_9,2015-05-01,2018-02-21,special,S,YVR,0.0,0.0,0.0,0,...,0,0,0,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
8,HUE_10,2015-02-21,2018-02-20,special,S,YVR,0.0,0.0,0.0,1,...,0,0,0,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
9,HUE_11,2015-02-21,2018-02-20,duplex,N,YVR,0.0,0.0,0.0,1,...,0,0,1,1,0,0,Canada,49.083333,-122.350,Canada/Pacific
10,HUE_12,2015-02-21,2018-02-20,apartment,NW,YVR,0.0,0.0,0.0,0,...,0,0,0,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
11,HUE_13,2015-02-21,2018-02-20,special,N,YVR,1.0,0.0,0.0,1,...,0,0,0,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
12,HUE_14,2015-02-21,2018-02-20,modern,S,YVR,1.0,0.0,0.0,0,...,0,0,0,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
13,HUE_15,2015-09-29,2018-02-20,bungalow,ENE,WYJ,1.0,0.0,0.0,1,...,0,0,0,0,0,0,Canada,48.511000,-123.413,Canada/Pacific
14,HUE_16,2017-11-01,2019-02-18,apartment,NE,YVR,0.0,0.0,0.0,0,...,0,0,1,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
15,HUE_17,2016-06-01,2017-04-29,apartment,SW,YVR,0.0,0.0,0.0,0,...,0,0,1,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
16,HUE_18,2015-03-16,2018-03-15,bungalow,E,YVR,0.0,85.0,0.0,1,...,0,1,0,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
17,HUE_19,2015-03-26,2018-03-25,special,W,YVR,0.0,0.0,0.0,1,...,0,0,0,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
18,HUE_20,2015-08-21,2018-04-20,character,N,YVR,0.0,0.0,0.0,0,...,0,0,0,0,1,0,Canada,49.083333,-122.350,Canada/Pacific
19,HUE_21,2017-11-01,2018-06-04,laneway,W,YVR,0.0,0.0,0.0,0,...,0,0,0,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
20,HUE_22,2016-06-29,2018-06-05,apartment,S,YVR,0.0,0.0,0.0,0,...,0,0,1,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
21,HUE_23,2017-07-27,2020-04-05,apartment,SE,YVR,0.0,0.0,0.0,0,...,0,0,1,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
22,HUE_24,2017-05-13,2020-05-12,modern,S,YVR,0.0,0.0,0.0,1,...,1,0,0,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
23,HUE_25,2017-05-15,2020-05-14,character,S,YVR,0.0,0.0,0.0,0,...,0,0,0,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
24,HUE_26,2019-11-29,2020-05-20,apartment,NNW,YVR,0.0,0.0,0.0,0,...,0,0,0,0,0,1,Canada,49.083333,-122.350,Canada/Pacific
25,HUE_27,2019-03-06,2020-05-20,apartment,NW,YVR,0.0,0.0,0.0,0,...,0,0,1,0,0,0,Canada,49.083333,-122.350,Canada/Pacific
26,HUE_28,2018-08-01,2020-05-19,special,N,YVR,0.0,0.0,0.0,1,...,0,0,0,0,0,0,Canada,49.083333,-122.350,Canada/Pacific

# REFIT

In [19]:
metadata_refit = pd.read_parquet("./Energy_graph/data/energy-forecast/data/processed/refit_metadata.parquet")

metadata_refit.drop(columns=["tz", "location"], inplace=True)
metadata_refit['name'] = 'house_' + metadata_refit['house'].astype(str) + '_refit'

In [60]:

# Suppose we have two dataframes df1 and df2
df1 = pd.DataFrame({
   'A': ['A0', 'A1', 'A2', 'A3'],
   'B': ['B0', 'B1', 'B2', 'B3'],
   'C': ['C0', 'C1', 'C2', 'C3'],
   'D': ['D0', 'D1', 'D2', 'D3']},
   index=[0, 1, 2, 3])

df2 = pd.DataFrame({
   'B': ['B2', 'B3', 'B6', 'B7'],
   'D': ['D2', 'D3', 'D6', 'D7'],
   'F': ['F2', 'F3', 'F6', 'F7']},
   index=[2, 3, 6, 7])

# Using concat
result = pd.concat([df1, df2], axis=0) # axis=0 means concatenate along the row
result

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [26]:

metadata_refit.reset_index(drop=True, inplace=True)
metadata_refit.drop(columns=["house","appliances"], inplace=True)
col = metadata_refit.pop("name")
metadata_refit.insert(0, col.name, col)

In [37]:
metadata_refit["house_type"] = metadata_refit["house_type"].replace(" Detached   ", "house")
metadata_refit["country"] = metadata_refit["country"].replace("GB", "United Kingdom")

In [50]:
df = pd.read_parquet("./shared/Energy_graph_datasets/raw/REFIT/refit-dataset-hourly.parquet")
df["house"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 15, 16, 17, 18,
       19, 20, 21])

In [59]:

data = pd.read_pickle("./Energy_graph/data/processed/REFIT.pkl")
data.keys()

dict_keys(['house_1', 'house_2', 'house_3', 'house_4', 'house_5', 'house_6', 'house_7', 'house_8', 'house_9', 'house_10', 'house_11', 'house_12', 'house_13', 'house_15', 'house_16', 'house_17', 'house_18', 'house_19', 'house_20', 'house_21'])

In [52]:
start_end = {}
for house in data.keys():
    print(house)
    start_end[house] = {}
    start_end[house]['start'] = data[house]["aggregate"].index.min().date()
    start_end[house]['end'] = data[house]["aggregate"].index.max().date()


start_end["house_1"]

house_1
house_2
house_3
house_4
house_5
house_6
house_7
house_8
house_9
house_10
house_11
house_12
house_13
house_14
house_15
house_16
house_17
house_18
house_19
house_20

{'start': datetime.date(2013, 10, 9), 'end': datetime.date(2015, 7, 10)}

dict_keys(['house_1', 'house_2', 'house_3', 'house_4', 'house_5', 'house_6', 'house_7', 'house_8', 'house_9', 'house_10', 'house_11', 'house_12', 'house_13', 'house_14', 'house_15', 'house_16', 'house_17', 'house_18', 'house_19', 'house_20'])

In [38]:
metadata_refit

,name,occupancy,construction_year,appliances_owned,house_type,house_size,country,lat,lon
0,house_1_refit,2,1975-1980,35,house,4 bed,United Kingdom,52.7709,-1.2097
1,house_2_refit,4,-,15,Semi-detached,3 bed,United Kingdom,52.7709,-1.2097
2,house_3_refit,2,1988,27,house,3 bed,United Kingdom,52.7709,-1.2097
3,house_4_refit,2,1850-1899,33,house,4 bed,United Kingdom,52.7709,-1.2097
4,house_5_refit,4,1878,44,Mid-terrace,4 bed,United Kingdom,52.7709,-1.2097
5,house_6_refit,2,2005,49,house,4 bed,United Kingdom,52.7709,-1.2097
6,house_7_refit,4,1965-1974,25,house,3 bed,United Kingdom,52.7709,-1.2097
7,house_8_refit,2,1966,35,house,2 bed,United Kingdom,52.7709,-1.2097
8,house_9_refit,2,1919-1944,24,house,3 bed,United Kingdom,52.7709,-1.2097
9,house_10_refit,4,1919-1944,31,house,3 bed,United Kingdom,52.7709,-1.2097
10,house_11_refit,1,1945-1964,25,house,3 bed,United Kingdom,52.7709,-1.2097
11,house_12_refit,3,1991-1995,26,house,3 bed,United Kingdom,52.7709,-1.2097
12,house_13_refit,4,post 2002,28,house,4 bed,United Kingdom,52.7709,-1.2097
13,house_15_refit,1,1965-1974,19,Semi-detached,3 bed,United Kingdom,52.7709,-1.2097
14,house_16_refit,6,1981-1990,48,house,5 bed,United Kingdom,52.7709,-1.2097
15,house_17_refit,3,mid 60s,22,house,3 bed,United Kingdom,52.7709,-1.2097
16,house_18_refit,2,1965-1974,34,house,3 bed,United Kingdom,52.7709,-1.2097
17,house_19_refit,4,1945-1964,26,Semi-detached,3 bed,United Kingdom,52.7709,-1.2097
18,house_20_refit,2,1965-1974,39,house,3 bed,United Kingdom,52.7709,-1.2097
19,house_21_refit,4,1981-1990,23,house,3 bed,United Kingdom,52.7709,-1.2097

In [39]:
df = pd.concat([metadata_hue, metadata_refit], axis=0, ignore_index=True)
df

,name,first_reading,last_reading,house_type,facing,RUs,EVs,SN,FAGF,HP,...,IFRHE,WRHIR,GEOTH,country,lat,lon,occupancy,construction_year,appliances_owned,house_size
0,HUE_1,2012-06-01,2015-10-03,bungalow,S,1.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
1,HUE_2,2016-06-09,2019-11-20,duplex,N,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
2,HUE_3,2015-01-27,2018-01-29,modern,S,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
3,HUE_4,2015-01-30,2018-01-29,character,W,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
4,HUE_5,2015-01-30,2018-01-29,modern,S,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
5,HUE_6,2015-01-30,2018-01-29,apartment,SW,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
6,HUE_8,2015-02-21,2018-02-20,character,S,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
7,HUE_9,2015-05-01,2018-02-21,special,S,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
8,HUE_10,2015-02-21,2018-02-20,special,S,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
9,HUE_11,2015-02-21,2018-02-20,duplex,N,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
10,HUE_12,2015-02-21,2018-02-20,apartment,NW,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
11,HUE_13,2015-02-21,2018-02-20,special,N,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
12,HUE_14,2015-02-21,2018-02-20,modern,S,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
13,HUE_15,2015-09-29,2018-02-20,bungalow,ENE,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,Canada,48.511000,-123.4130,NaN,NaN,NaN,NaN
14,HUE_16,2017-11-01,2019-02-18,apartment,NE,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
15,HUE_17,2016-06-01,2017-04-29,apartment,SW,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
16,HUE_18,2015-03-16,2018-03-15,bungalow,E,0.0,85.0,0.0,1.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
17,HUE_19,2015-03-26,2018-03-25,special,W,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
18,HUE_20,2015-08-21,2018-04-20,character,N,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
19,HUE_21,2017-11-01,2018-06-04,laneway,W,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
20,HUE_22,2016-06-29,2018-06-05,apartment,S,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
21,HUE_23,2017-07-27,2020-04-05,apartment,SE,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
22,HUE_24,2017-05-13,2020-05-12,modern,S,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
23,HUE_25,2017-05-15,2020-05-14,character,S,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
24,HUE_26,2019-11-29,2020-05-20,apartment,NNW,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
25,HUE_27,2019-03-06,2020-05-20,apartment,NW,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
26,HUE_28,2018-08-01,2020-05-19,special,N,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,Canada,49.083333,-122.3500,NaN,NaN,NaN,NaN
27,house_1_refit,NaT,NaT,house,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,2.0,1975-1980,35.0,4 bed
28,house_2_refit,NaT,NaT,Semi-detached,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,4.0,-,15.0,3 bed
29,house_3_refit,NaT,NaT,house,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,2.0,1988,27.0,3 bed
30,house_4_refit,NaT,NaT,house,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,2.0,1850-1899,33.0,4 bed
31,house_5_refit,NaT,NaT,Mid-terrace,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,4.0,1878,44.0,4 bed
32,house_6_refit,NaT,NaT,house,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,2.0,2005,49.0,4 bed
33,house_7_refit,NaT,NaT,house,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,4.0,1965-1974,25.0,3 bed
34,house_8_refit,NaT,NaT,house,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,2.0,1966,35.0,2 bed
35,house_9_refit,NaT,NaT,house,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,2.0,1919-1944,24.0,3 bed
36,house_10_refit,NaT,NaT,house,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,4.0,1919-1944,31.0,3 bed
37,house_11_refit,NaT,NaT,house,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,1.0,1945-1964,25.0,3 bed
38,house_12_refit,NaT,NaT,house,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,3.0,1991-1995,26.0,3 bed
39,house_13_refit,NaT,NaT,house,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,4.0,post 2002,28.0,4 bed
40,house_15_refit,NaT,NaT,Semi-detached,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,1.0,1965-1974,19.0,3 bed
41,house_16_refit,NaT,NaT,house,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,6.0,1981-1990,48.0,5 bed
42,house_17_refit,NaT,NaT,house,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,3.0,mid 60s,22.0,3 bed
43,house_18_refit,NaT,NaT,house,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,2.0,1965-1974,34.0,3 bed
44,house_19_refit,NaT,NaT,Semi-detached,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,4.0,1945-1964,26.0,3 bed
45,house_20_refit,NaT,NaT,house,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,2.0,1965-1974,39.0,3 bed
46,house_21_refit,NaT,NaT,house,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,52.770900,-1.2097,4.0,1981-1990,23.0,3 bed

# UCIML

In [40]:
from datetime import date
data_uciml = pd.read_parquet("./Energy_graph/data/energy-forecast/data/processed/uciml_household.parquet")
# 2006-12-16
data_uciml.drop(columns=["global_active_power", "global_reactive_power", "voltage", "global_intensity", "sub_metering_1", "sub_metering_2", "sub_metering_3", "unmetered"], inplace=True)
data_uciml

,timestamp,country,region,lat,lon,tz
0,2006-12-16 17:24:00+01:00,France,Sceaux,48.77644,2.29026,Europe/Paris
1,2006-12-16 17:25:00+01:00,France,Sceaux,48.77644,2.29026,Europe/Paris
2,2006-12-16 17:26:00+01:00,France,Sceaux,48.77644,2.29026,Europe/Paris
3,2006-12-16 17:27:00+01:00,France,Sceaux,48.77644,2.29026,Europe/Paris
4,2006-12-16 17:28:00+01:00,France,Sceaux,48.77644,2.29026,Europe/Paris
...,...,...,...,...,...,...
2075254,2010-11-26 20:58:00+01:00,France,Sceaux,48.77644,2.29026,Europe/Paris
2075255,2010-11-26 20:59:00+01:00,France,Sceaux,48.77644,2.29026,Europe/Paris
2075256,2010-11-26 21:00:00+01:00,France,Sceaux,48.77644,2.29026,Europe/Paris
2075257,2010-11-26 21:01:00+01:00,France,Sceaux,48.77644,2.29026,Europe/Paris
2075258,2010-11-26 21:02:00+01:00,France,Sceaux,48.77644,2.29026,Europe/Paris

In [41]:
data_uciml["country"].iloc[0]

'France'

In [45]:
# meta data for uciml
first_reading = data_uciml["timestamp"].min().date()
last_reading = data_uciml["timestamp"].max().date()
country = data_uciml["country"].iloc[0]
region = data_uciml["region"].iloc[0]
lat = data_uciml["lat"].iloc[0]
lon = data_uciml["lon"].iloc[0]
tz = data_uciml["tz"].iloc[0]
   
data = {
    "name" : "UCIML_1",
    "first_reading" :first_reading,
    "last_reading" :last_reading,
    "country" :country,
    "region" :region,
    "lat" :lat,
    "lon" :lon,
    "tz" :tz
    }

In [48]:
pd.DataFrame(data, index=[0])

,name,first_reading,last_reading,country,region,lat,lon,tz
0,UCIML_1,2006-12-16,2010-11-26,France,Sceaux,48.77644,2.29026,Europe/Paris

# HES

In [50]:
# data from https://github.com/ETSSmartRes/HES-Dataset

data = {
    "first_reading" : date(2018, 5, 12),
    "last_reading" : date(2018,10, 10),
    "country" : "Canada",
    "region" : "Montreal", 
}

pd.DataFrame(data, index=[0])

  first_reading last_reading country    region
0    2018-05-12   2018-10-10  Canada  Montreal

# ECO

In [52]:
path = "./shared/Energy_graph_datasets/raw/ECO/HOUSE1/SM/"

data = {}
# HOUSE1 
first_reading = date(2012,6,1)
last_reading = date(2013, 1, 31)
country = "Switzerland"

# HOUSE2
first_reading = date(2012,6,1)
last_reading = date(2013, 1, 31)
country = "Switzerland"

# HOUSE3
first_reading = date(2012,7,26)
last_reading = date(2013, 1, 31)
country = "Switzerland"

# HOUSE4
first_reading = date(2012,7,26)
last_reading = date(2013, 1, 31)
country = "Switzerland"

# HOUSE5
first_reading = date(2012,7,26)
last_reading = date(2013, 1, 31)
country = "Switzerland"

# HOUSE6
first_reading = date(2012,7,26)
last_reading = date(2013, 1, 31)
country = "Switzerland"



houses = {
    'ECO_1': {
        'first_reading': date(2012, 6, 1),
        'last_reading': date(2013, 1, 31),
        'country': 'Switzerland'
    },
    'ECO_2': {
        'first_reading': date(2012, 6, 1),
        'last_reading': date(2013, 1, 31),
        'country': 'Switzerland'
    },
    'ECO_3': {
        'first_reading': date(2012, 7, 26),
        'last_reading': date(2013, 1, 31),
        'country': 'Switzerland'
    },
    'ECO_4': {
        'first_reading': date(2012, 7, 26),
        'last_reading': date(2013, 1, 31),
        'country': 'Switzerland'
    },
    'ECO_5': {
        'first_reading': date(2012, 7, 26),
        'last_reading': date(2013, 1, 31),
        'country': 'Switzerland'
    },
    'ECO_6': {
        'first_reading': date(2012, 7, 26),
        'last_reading': date(2013, 1, 31),
        'country': 'Switzerland'
    }
}

pd.DataFrame(houses).T

      first_reading last_reading      country
ECO_1    2012-06-01   2013-01-31  Switzerland
ECO_2    2012-06-01   2013-01-31  Switzerland
ECO_3    2012-07-26   2013-01-31  Switzerland
ECO_4    2012-07-26   2013-01-31  Switzerland
ECO_5    2012-07-26   2013-01-31  Switzerland
ECO_6    2012-07-26   2013-01-31  Switzerland

# LERTA

In [4]:
path = "./shared/Energy_graph_datasets/raw/LERTA/"
H1 = pd.read_csv(path + "CLEAN_Lerta_House1.csv")
H2 = pd.read_csv(path + "CLEAN_Lerta_House2.csv")
H3 = pd.read_csv(path + "CLEAN_Lerta_House3.csv")
H4 = pd.read_csv(path + "CLEAN_Lerta_House4.csv")

In [5]:
country = "Poland"

# house 1    
first_reading = pd.to_datetime(H1["Time"]).min().date()
last_reading = pd.to_datetime(H1["Time"]).max().date()

# house 2
first_reading = pd.to_datetime(H2["Time"]).min().date()
last_reading = pd.to_datetime(H2["Time"]).max().date()

# house 3
first_reading = pd.to_datetime(H3["Time"]).min().date()
last_reading = pd.to_datetime(H3["Time"]).max().date()

# house 4
first_reading = pd.to_datetime(H4["Time"]).min().date()
last_reading = pd.to_datetime(H4["Time"]).max().date()

In [55]:
houses = {
    'LERTA_1': {
        'first_reading': pd.to_datetime(H1["Time"]).min().date(),
        'last_reading': pd.to_datetime(H1["Time"]).max().date(),
        'country': 'Poland',
        
    },
    'LERTA_2': {
        'first_reading': pd.to_datetime(H2["Time"]).min().date(),
        'last_reading': pd.to_datetime(H2["Time"]).max().date(),
        'country': 'Poland'
    },
    'LERTA_3': {
        'first_reading': pd.to_datetime(H3["Time"]).min().date(),
        'last_reading': pd.to_datetime(H3["Time"]).max().date(),
        'country': 'Poland'
    },
    'LERTA_4': {
        'first_reading': pd.to_datetime(H4["Time"]).min().date(),
        'last_reading': pd.to_datetime(H4["Time"]).max().date(),
        'country': 'Poland'
    },

    'ECO_1': {
        'first_reading': date(2012, 6, 1),
        'last_reading': date(2013, 1, 31),
        'country': 'Switzerland'
    },
    'ECO_2': {
        'first_reading': date(2012, 6, 1),
        'last_reading': date(2013, 1, 31),
        'country': 'Switzerland'
    },
    'ECO_3': {
        'first_reading': date(2012, 7, 26),
        'last_reading': date(2013, 1, 31),
        'country': 'Switzerland'
    },
    'ECO_4': {
        'first_reading': date(2012, 7, 26),
        'last_reading': date(2013, 1, 31),
        'country': 'Switzerland'
    },
    'ECO_5': {
        'first_reading': date(2012, 7, 26),
        'last_reading': date(2013, 1, 31),
        'country': 'Switzerland'
    },
    'ECO_6': {
        'first_reading': date(2012, 7, 26),
        'last_reading': date(2013, 1, 31),
        'country': 'Switzerland'
    }
}
pd.DataFrame(houses).T

        first_reading last_reading      country
LERTA_1    2020-02-27   2021-02-07       Poland
LERTA_2    2020-02-27   2021-07-19       Poland
LERTA_3    2020-02-27   2021-07-19       Poland
LERTA_4    2020-02-27   2020-03-10       Poland
ECO_1      2012-06-01   2013-01-31  Switzerland
ECO_2      2012-06-01   2013-01-31  Switzerland
ECO_3      2012-07-26   2013-01-31  Switzerland
ECO_4      2012-07-26   2013-01-31  Switzerland
ECO_5      2012-07-26   2013-01-31  Switzerland
ECO_6      2012-07-26   2013-01-31  Switzerland

# UKDALE

In [11]:
#TODO
import yaml
path = "./shared/Energy_graph_datasets/raw/UK-DALE/metadata/dataset.yaml"

with open(path, 'r') as file:
    data = yaml.safe_load(file)

# Now data contains the contents of your YAML file
print(data["geo_location"])

lat  = data["geo_location"]["latitude"]
long = data["geo_location"]["longitude"]

{'country': 'GB', 'latitude': 51.464462, 'locality': 'London', 'longitude': -0.076544}

In [34]:
os.listdir("./shared/Energy_graph_datasets/raw/UK-DALE/metadata/")

house_data = {}

for file in os.listdir("./shared/Energy_graph_datasets/raw/UK-DALE/metadata/"):
    if file.endswith(".yaml") and "building" in file:
        print(file)
        with open("./shared/Energy_graph_datasets/raw/UK-DALE/metadata/" + file, 'r') as stream:
            try:
                data = yaml.safe_load(stream)
            except yaml.YAMLError as exc:
                print(exc)
        
        start = data["timeframe"]["start"].split("T")[0]
        end = data["timeframe"]["end"].split("T")[0]
        heating = np.nan
        occupants = np.nan
        if "heating" in data:
            heating = data["heating"][0]

        if "n_occupants" in data:
            occupants = data["n_occupants"]

        name = file.split(".")[0]
        name = "UKDALE_"+name[-1]
        house_data[name] = {
            "first_reading": start,
            "last_reading": end,
            "heating": heating,
            "occupants": occupants,
        }

building2.yaml
building3.yaml
building1.yaml
building5.yaml
building4.yaml

In [38]:
df = pd.DataFrame(house_data).transpose()
df.sort_index(inplace=True)
df.reset_index(inplace=True)
df.rename(columns={'index': 'name'}, inplace=True)
df

       name first_reading last_reading      heating occupants
0  UKDALE_1    2012-11-09   2017-04-26  natural gas         4
1  UKDALE_2    2013-02-17   2013-10-10  natural gas         2
2  UKDALE_3    2013-02-27   2013-04-08          NaN       NaN
3  UKDALE_4    2013-03-09   2013-10-01  natural gas         2
4  UKDALE_5    2014-06-29   2014-11-13  natural gas         2

# SMART