In [28]:
%pip install pyarrow

Collecting pyarrow
  Using cached pyarrow-12.0.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (38.9 MB)
Requirement already satisfied: numpy>=1.16.6 in /opt/conda/lib/python3.10/site-packages (from pyarrow) (1.23.5)
Installing collected packages: pyarrow
Successfully installed pyarrow-12.0.1
Note: you may need to restart the kernel to use updated packages.

In [2]:

import pandas as pd
import os
from tqdm import tqdm
from collections import defaultdict

# DEKN

https://data.open-power-system-data.org/household_data/

In [67]:
df = pd.read_csv("./Energy_graph/data/temp/household_data_15min_singleindex_filtered.csv")
df =df.drop(columns=["utc_timestamp", "interpolated"])
df

,cet_cest_timestamp,DE_KN_residential1_dishwasher,DE_KN_residential1_freezer,DE_KN_residential1_grid_import,DE_KN_residential1_heat_pump,DE_KN_residential1_pv,DE_KN_residential1_washing_machine,DE_KN_residential2_circulation_pump,DE_KN_residential2_dishwasher,DE_KN_residential2_freezer,...,DE_KN_residential4_pv,DE_KN_residential4_refrigerator,DE_KN_residential4_washing_machine,DE_KN_residential6_circulation_pump,DE_KN_residential6_dishwasher,DE_KN_residential6_freezer,DE_KN_residential6_grid_export,DE_KN_residential6_grid_import,DE_KN_residential6_pv,DE_KN_residential6_washing_machine
0,2014-12-11T18:45:00+0100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-12-11T19:00:00+0100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-12-11T19:15:00+0100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-12-11T19:30:00+0100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-12-11T19:45:00+0100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153805,2019-05-01T23:00:00+0200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153806,2019-05-01T23:15:00+0200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153807,2019-05-01T23:30:00+0200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153808,2019-05-01T23:45:00+0200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153809,2019-05-02T00:00:00+0200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
df["cet_cest_timestamp"] = df["cet_cest_timestamp"].apply(lambda x: x.split("+")[0])
df["cet_cest_timestamp"] = pd.to_datetime(df["cet_cest_timestamp"], format="%Y-%m-%dT%H:%M:%S")
df = df.set_index("cet_cest_timestamp")
df = df[~df.index.duplicated(keep='first')]

df

,DE_KN_residential1_dishwasher,DE_KN_residential1_freezer,DE_KN_residential1_grid_import,DE_KN_residential1_heat_pump,DE_KN_residential1_pv,DE_KN_residential1_washing_machine,DE_KN_residential2_circulation_pump,DE_KN_residential2_dishwasher,DE_KN_residential2_freezer,DE_KN_residential2_grid_import,...,DE_KN_residential4_pv,DE_KN_residential4_refrigerator,DE_KN_residential4_washing_machine,DE_KN_residential6_circulation_pump,DE_KN_residential6_dishwasher,DE_KN_residential6_freezer,DE_KN_residential6_grid_export,DE_KN_residential6_grid_import,DE_KN_residential6_pv,DE_KN_residential6_washing_machine
cet_cest_timestamp,,,,,,,,,,,,,,,,,,,,,
2014-12-11 18:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-11 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-11 19:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-11 19:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-11 19:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-05-01 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-05-01 23:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-05-01 23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-05-01 23:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-05-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:

# Extract household identifiers
households = set(column.split('_')[2] for column in df.columns)

# Create a dictionary of dataframes, one for each household
dfs = {}

for household in households:
    # Filter columns relevant to this household
    relevant_columns = [col for col in df.columns if household in col]
    temp_df = df[relevant_columns].copy()

    # Rename columns to remove the prefix and retain the device name
    rename_dict = {col: col.replace(f"DE_KN_{household}_", "") for col in relevant_columns}
    temp_df.rename(columns=rename_dict, inplace=True)
    temp_df.rename(columns={'cet_cest_timestamp': 'timestamp', "grid_import": "aggregate"}, inplace=True)
    if "grid_export" in temp_df.columns:
        temp_df.drop(columns=['grid_export'], inplace=True)
    if "pv" in temp_df.columns:
        temp_df.drop(columns=['pv'], inplace=True)
    # temp_df.drop(columns=['grid_export', 'pv'], inplace=True)
    data = {}
    name ="DEKN_" +str(household[-1])
    for c in temp_df.columns:
        data[c] = pd.DataFrame(temp_df[c].dropna())
        
    dfs[name] = data

                     dishwasher
cet_cest_timestamp
2015-05-22 15:15:00    0.000000
2015-05-22 15:30:00    0.000000
2015-05-22 15:45:00    0.000000
2015-05-22 16:00:00    0.000000
2015-05-22 16:15:00    0.000000
...                         ...
2017-03-12 17:30:00  268.599206
2017-03-12 17:45:00  268.599206
2017-03-12 18:00:00  268.599306
2017-03-12 18:15:00  268.599306
2017-03-12 18:30:00  268.599306

[63370 rows x 1 columns]

In [4]:
df2 = pd.read_excel("./Energy_graph/data/temp/household_data.xlsx")
df2

,region,cet_cest_timestamp,DE_KN,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,interpolated
0,household,NaN,industrial1,NaN,NaN,industrial2,NaN,NaN,NaN,industrial3,...,NaN,NaN,residential6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,type,NaN,industrial_building_warehouse,NaN,NaN,industrial_building_craft,NaN,NaN,NaN,industrial_building_institute,...,NaN,NaN,residential_building_urban,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,unit,NaN,kWh,NaN,NaN,kWh,NaN,NaN,NaN,kWh,...,NaN,NaN,kWh,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,feed,NaN,grid_import,pv_1,pv_2,grid_import,pv,storage_charge,storage_decharge,area_offices,...,refrigerator,washing_machine,circulation_pump,dishwasher,freezer,grid_export,grid_import,pv,washing_machine,NaN
4,utc_timestamp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153810,2019-05-01T21:00:00Z,2019-05-01T23:00:00+0200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153811,2019-05-01T21:15:00Z,2019-05-01T23:15:00+0200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153812,2019-05-01T21:30:00Z,2019-05-01T23:30:00+0200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153813,2019-05-01T21:45:00Z,2019-05-01T23:45:00+0200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153814,2019-05-01T22:00:00Z,2019-05-02T00:00:00+0200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# GREEND
https://sourceforge.net/projects/greend/



GREEND download form
Great to get to know you! 

Here are our dataset snapshots and the associated password:

v0.1: 
http://sourceforge.net/projects/greend/files/GREEND_0-1_311014.zip/download

PWD:"Vienna"


https://www.academia.edu/7794767/GREEND_An_Energy_Consumption_Dataset_of_Households_in_Italy_and_Austria

http://www.andreatonello.com/wp-content/uploads/PAPERS/CONFERENCES/SGC2014_2.pdf

In [3]:
df = pd.read_csv("./Energy_graph/data/temp/GREEND/building0/dataset_2013-12-07.csv", on_bad_lines="skip")
df

,timestamp,000D6F0002907BA2,000D6F0002907BC8,000D6F0002907BDF,000D6F0002907BF5,000D6F0002907C89,000D6F0002908150,000D6F0002908162,000D6F00029C506A
0,1386374137.122849,0.0,0.0,0.0,6.580665311387137,0.0,NaN,12.885029880714516,0.0
1,1386374138.125722,0.0,2.2675751981909307,0.0,6.580665311387137,0.0,NaN,10.760647597181261,0.0
2,1386374139.125807,0.0,0.0,0.0,6.580665311387137,0.0,NaN,12.885029880714516,0.0
3,1386374140.128412,0.0,0.0,0.0,6.580665311387137,0.0,NaN,10.760647597181261,0.0
4,1386374141.127958,0.0,0.0,0.0,6.580665311387137,0.0,NaN,10.760647597181261,0.0
...,...,...,...,...,...,...,...,...,...
33842,1386411063.943784,0.0,2.2675751981909307,0.0,8.723196102477647,0.0,NaN,155.20854234484088,NaN
33843,1386411065.05145,0.0,0.0,NaN,8.723196102477647,0.0,NaN,155.20854234484088,NaN
33844,1386411066.184419,0.0,0.0,NaN,10.865720872747652,2.3664592330029803,NaN,155.20854234484088,NaN
33845,1386411067.315065,0.0,0.0,NaN,8.723196102477647,0.0,NaN,155.20854234484088,NaN
33846,1386411068.358609,0.0,0.0,NaN,8.723196102477647,0.0,NaN,155.20854234484088,0.0

# ENERTALK
TODO

In [2]:
data_path = "./Energy_graph/data/temp/ENERTALK/enertalk"
def convert2KRtime(df):
    """
    convert dateframe's unix timestamp into Asia/Seoul Timezone
    
    input
    ----
        df: dataframe (columns: timestamp, active_power, reactive_power, appliance)
    
    output
    ----
        df_kr: dataframe (columns: timestamp, active_power, reactive_power, appliance, KR timezone)
    """ 

    df_kr = df
    df_kr['timestamp'] = df_kr['timestamp'].dt.tz_localize('UTC').dt.tz_convert('Asia/Seoul')
    df_kr = df_kr.set_index(pd.DatetimeIndex(df_kr['timestamp']))
    return df_kr


def preprocess_dataframe(df: pd.DataFrame) -> pd.DataFrame:
    """
    Parse the name of the file to get the device name"
    """
    df.drop(columns=["reactive_power"], inplace=True)
    # convert unix timestamp to datetime and set as index
    df["timestamp"] = pd.to_datetime(df["timestamp"], unit="ms").dt.tz_localize('UTC').dt.tz_convert('Asia/Seoul')
    df.set_index("timestamp", inplace=True)
    # convert to kWh
    df  = df/1000 * (1/15)/3600
    # resample to 1 second
    df = df.resample("1S").sum()

    return df

def parse_name(file_name: str):
    """
    Parse the name of the file to get the device name"
    """
    # remove the extension
    file_name = file_name.split(".")[0]
    # get the device name
    file_name = file_name.split("_")[1]
 

    return file_name



def process_house(house):
    house_path = os.path.join(data_path, house)
    house_dict = defaultdict(list)
    house_name = "ENERTALK_" + str(int(house))
    
    for day in os.listdir(house_path):
        day_path = os.path.join(house_path, day)
        
        for device in os.listdir(day_path):
            device_path = os.path.join(day_path, device)
            name = parse_name(device)
            
            df = preprocess_dataframe(pd.read_parquet(device_path))
            house_dict[name].append(df)

    for key in house_dict:
        house_dict[key] = pd.concat(house_dict[key], axis=0)
    
    return house_name, house_dict

Serial program

In [5]:
from tqdm import tqdm
from collections import defaultdict
data_path = "./Energy_graph/data/temp/ENERTALK/enertalk"
data_dict = {}
for house in os.listdir(data_path):
    house_dict = defaultdict(list)
    house_name = "ENERTALK_" + str(int(house))
    for day in tqdm(os.listdir(data_path + "/" + house)):
        for device in os.listdir(data_path + "/" + house + "/" + day):
            name = parse_name(device)
            df = preprocess_dataframe(pd.read_parquet(data_path + "/" + house + "/" + day + "/" + device))
            house_dict[name].append(df)

    for key in house_dict:
        house_dict[key] = pd.concat(house_dict[key], axis=0)
    
    data_dict[house_name] = house_dict
    break

100%|██████████| 86/86 [01:01<00:00,  1.40it/s]
  8%|▊         | 7/85 [00:06<01:14,  1.05it/s]

KeyboardInterrupt:

Multithreaded

In [3]:
import os
import pandas as pd
from collections import defaultdict
import concurrent.futures
from tqdm import tqdm

data_path = "./Energy_graph/data/temp/ENERTALK/enertalk"
data_dict = {}

def process_house(house, progress_bar=None):
    house_path = os.path.join(data_path, house)
    house_dict = defaultdict(list)
    house_name = "ENERTALK_" + str(int(house))
    
    for day in os.listdir(house_path):
        day_path = os.path.join(house_path, day)
        for device in os.listdir(day_path):
            device_path = os.path.join(day_path, device)
            name = parse_name(device)
            df = preprocess_dataframe(pd.read_parquet(device_path))
            house_dict[name].append(df)

    for key in house_dict:
        house_dict[key] = pd.concat(house_dict[key], axis=0)

    if progress_bar:
        progress_bar.update(1)  # Increment the progress bar when a house is processed

    return house_name, house_dict

houses = os.listdir(data_path)
# Create a progress bar with a total equal to the number of houses
with tqdm(total=len(houses), desc="Processing houses", unit="house") as progress_bar:
    with concurrent.futures.ThreadPoolExecutor() as executor:
        # Pass the progress_bar to the worker function
        futures = [executor.submit(process_house, house, progress_bar) for house in houses]
        for future in concurrent.futures.as_completed(futures):
            house_name, house_dict = future.result()
            data_dict[house_name] = house_dict

Processing houses: 100%|██████████| 22/22 [09:03<00:00, 24.72s/house]

In [12]:
import os
import pandas as pd
from collections import defaultdict
import concurrent.futures
from tqdm import tqdm


data_dict = {}

def process_house(house, data_path):
    house_path = os.path.join(data_path, house)
    house_dict = defaultdict(list)
    house_name = "ENERTALK_" + str(int(house))
    
    for day in os.listdir(house_path):
        day_path = os.path.join(house_path, day)
        for device in os.listdir(day_path):
            device_path = os.path.join(day_path, device)
            name = parse_name(device)
            df = preprocess_dataframe(pd.read_parquet(device_path))
            house_dict[name].append(df)

    for key in house_dict:
        house_dict[key] = pd.concat(house_dict[key], axis=0)

    return house_name, house_dict

houses = os.listdir(data_path)
data_path = "./Energy_graph/data/temp/ENERTALK/"
# Using ProcessPoolExecutor
with tqdm(total=len(houses), desc="Processing houses", unit="house") as progress_bar:
    with concurrent.futures.ProcessPoolExecutor(max_workers=64) as executor:
        # Using a map function with a callback to update tqdm progress bar
        # This approach is used because the original as_completed method with update inside process_house won't work in a multiprocess setup
        results = list(executor.map(process_house, houses, data_path))
        for house_name, house_dict in results:
            data_dict[house_name] = house_dict
            progress_bar.update(1)

Processing houses:   0%|          | 0/22 [00:11<?, ?house/s]

FileNotFoundError: [Errno 2] No such file or directory: './04'

In [14]:
import os
import pandas as pd
from collections import defaultdict
import concurrent.futures
from tqdm import tqdm
import multiprocessing


data_dict = {}

def process_house(house_path, queue):
    house = os.path.basename(house_path)  # Extract house name from the path
    house_dict = defaultdict(list)
    house_name = "ENERTALK_" + str(int(house))
    
    for day in os.listdir(house_path):
        day_path = os.path.join(house_path, day)
        for device in os.listdir(day_path):
            device_path = os.path.join(day_path, device)
            name = parse_name(device)
            df = preprocess_dataframe(pd.read_parquet(device_path))
            house_dict[name].append(df)

    for key in house_dict:
        house_dict[key] = pd.concat(house_dict[key], axis=0)

    queue.put(1)  # Indicate that one house has been processed
    return house_name, house_dict

# Construct full paths for each house directory
data_path = "./Energy_graph/data/temp/ENERTALK/"
house_paths = [os.path.join(data_path, house) for house in os.listdir(data_path)]
queue = multiprocessing.Manager().Queue()

with tqdm(total=len(house_paths), desc="Processing houses", unit="house") as progress_bar:
    with concurrent.futures.ProcessPoolExecutor(max_workers=os.cpu_count()/2) as executor:
        futures = [executor.submit(process_house, house_path, queue) for house_path in house_paths]
        
        # Update progress bar based on queue
        for _ in concurrent.futures.as_completed(futures):
            progress_bar.update(queue.get())

        for future in futures:
            house_name, house_dict = future.result()
            data_dict[house_name] = house_dict

Processing houses: 100%|██████████| 22/22 [02:15<00:00,  6.16s/house]

In [15]:
os.cpu_count()

128

In [7]:
data_dict["ENERTALK_0"]
# save with pickle
import pickle
with open("./Energy_graph/data/processed/ENERTALK.pkl", "wb") as f:
    pickle.dump(data_dict, f, protocol=pickle.HIGHEST_PROTOCOL)

In [40]:

df = pd.read_parquet("./Energy_graph/data/temp/ENERTALK/enertalk/00/20161101/02_washing-machine.parquet.gzip").drop(columns=["reactive_power"])
df["timestamp"] = pd.to_datetime(df["timestamp"], unit="ms").dt.tz_localize('UTC').dt.tz_convert('Asia/Seoul')
df.set_index("timestamp", inplace=True)
df  = df/1000 * (1/15)/3600
df.resample("1S").sum()

                           active_power
timestamp
2016-11-01 09:01:58+09:00  2.222222e-09
2016-11-01 09:01:59+09:00  1.462963e-08
2016-11-01 09:02:00+09:00  1.166667e-08
2016-11-01 09:02:01+09:00  1.462963e-08
2016-11-01 09:02:02+09:00  1.685185e-08
...                                 ...
2016-11-02 08:59:31+09:00  4.994846e-04
2016-11-02 08:59:32+09:00  5.302889e-04
2016-11-02 08:59:33+09:00  4.641491e-04
2016-11-02 08:59:34+09:00  4.968515e-04
2016-11-02 08:59:35+09:00  2.004617e-04

[86258 rows x 1 columns]

In [20]:
test_str = "02_washing-machine.parquet.gzip"
def parse_name(file_name: str):
    """
    Parse the name of the file to get the device name"
    """
    # remove the extension
    file_name = file_name.split(".")[0]
    # get the device name
    file_name = file_name.split("_")[1]
 

    return file_name

print(parse_name(test_str))

washing-machine

# DEDDIAG

In [13]:
df = pd.read_csv("./Energy_graph/data/temp/DEDDIAG/house_08/item_0024_data.tsv.gz", sep="\t")

         item_id                        time       value
0             24  2017-06-06 15:29:23.448459    0.000000
1             24  2017-06-06 15:31:04.329285    0.000000
2             24  2017-06-06 15:33:02.238142    5.327000
3             24  2017-06-06 15:33:03.168600    5.324098
4             24  2017-06-06 15:33:04.166473    5.341903
...          ...                         ...         ...
2237971       24  2018-07-28 08:00:09.499462    3.530253
2237972       24  2018-07-28 08:00:09.638449    3.530253
2237973       24  2018-07-28 08:00:10.811195    3.462790
2237974       24  2018-07-28 08:00:11.277301  123.909401
2237975       24  2018-07-28 08:00:12.226512  149.058258

[2237976 rows x 3 columns]

# SUSTData

In [18]:
path = "./Energy_graph/data/temp/SUSTData/"
# aggregate consumption data
df_aggregate = pd.DataFrame()
for file in os.listdir(path + "aggregate"):
    if file.endswith(".csv"):
        df_aggregate = pd.concat([df_aggregate,(pd.read_csv(path+"aggregate/" + file))])

df_aggregate["timestamp"] = pd.to_datetime(df_aggregate["timestamp"])
df_aggregate.set_index("timestamp", inplace=True)
df_aggregate.drop(columns=['Unnamed: 0', "Q","V","I"], inplace=True)
df_aggregate.rename(columns={"P":"power"}, inplace=True)
data_dict = {"aggregate":df_aggregate}

In [20]:
def parse_name(file_name: str):
    """
    Parse the file name to get the appliance name
    """
    # appliance name
    appliance_name = file_name.split(".")[0].split("_")[1]
    # date
    return appliance_name


# appliance consumption data
for file in os.listdir(path+"appliances/"):
    if file.endswith(".csv"):
        print(parse_name(file))
        data_dict[parse_name(file)] = pd.read_csv(path + "appliances/" + file).set_index("timestamp")

CoffeeMachine
MacBookPro2011-1
TV-Grundig
Stove-Oven
VaccumCleaner
Toaster
Freezer
TV-Samsung
MacBook2007
Fridge-Freezer
Kettle
MacBookPro2011-2
TV-LG
HandMixer
TV-Sharp
HairDryer-Straightener
TV-Philips
Microwave

In [21]:
data_dict["aggregate"]

                            power
timestamp
2016-12-21 01:04:36.343  0.011047
2016-12-21 01:04:37.343  0.023315
2016-12-21 01:04:38.343  0.021301
2016-12-21 01:04:39.343  0.021484
2016-12-21 01:04:40.343  0.021881
...                           ...
2016-12-20 08:02:43.362  0.011108
2016-12-20 08:02:44.362  0.011078
2016-12-20 08:02:45.362  0.010712
2016-12-20 08:02:46.362  0.011932
2016-12-20 08:02:47.362  0.000000

[8135372 rows x 1 columns]

# MFRED

In [22]:
df = pd.read_csv("./Energy_graph/data/temp/MFRED/MFRED_Aggregates_15min_2019Q1-Q4.csv")

df

,DateTimeUTC,AGs01To26_kW,AGs01To26_kVAR,AGs01To26_kWh,AG01_kW,AG01_kVAR,AG01_kWh,AG02_kW,AG02_kVAR,AG02_kWh,...,AG23_kWh,AG24_kW,AG24_kVAR,AG24_kWh,AG25_kW,AG25_kVAR,AG25_kWh,AG26_kW,AG26_kVAR,AG26_kWh
0,2019-01-01 05:00:00,0.2845,0.0086,0.000000,0.0893,0.0365,0.000000,0.0660,0.0036,0.000000,...,0.000000,0.4851,0.0094,0.000000,0.8492,-0.0063,0.000000,0.9810,0.0918,0.000000
1,2019-01-01 05:15:00,0.2679,0.0034,0.071074,0.0993,0.0609,0.022380,0.0660,-0.0013,0.018558,...,0.120703,0.4694,0.0140,0.124024,0.7764,0.0046,0.235645,0.8656,0.1221,0.238932
2,2019-01-01 05:30:00,0.2608,-0.0032,0.137329,0.0972,0.0572,0.047042,0.0583,-0.0015,0.032938,...,0.236377,0.4973,0.0105,0.245052,0.9289,0.0591,0.435677,0.8531,0.0929,0.451758
3,2019-01-01 05:45:00,0.2497,-0.0105,0.200037,0.0810,0.0120,0.068282,0.0562,0.0038,0.048238,...,0.357357,0.4669,-0.0148,0.363477,0.7109,-0.0310,0.617057,0.8297,0.0954,0.662891
4,2019-01-01 06:00:00,0.2589,-0.0003,0.263114,0.0711,0.0268,0.086408,0.0894,0.0143,0.067981,...,0.453353,0.5236,0.0188,0.487110,0.5746,0.0150,0.776856,1.1801,0.1683,0.894727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,2020-01-01 03:45:00,0.3203,-0.0009,3000.412295,0.0249,0.0000,366.176949,0.0995,0.0035,706.797050,...,5162.948080,0.5259,-0.0427,6257.684082,0.6800,0.0755,7655.099447,0.9978,0.2078,10995.230729
35036,2020-01-01 04:00:00,0.3120,-0.0042,3000.482207,0.0157,0.0053,366.181271,0.1000,0.0074,706.821211,...,5163.154655,0.5323,-0.0164,6257.809668,0.6391,0.0621,7655.213053,1.2545,0.2160,10995.416797
35037,2020-01-01 04:15:00,0.3168,-0.0006,3000.551175,0.0179,-0.0055,366.186796,0.0879,-0.0041,706.844291,...,5163.351660,0.5555,-0.0253,6257.927181,0.7912,0.1607,7655.341048,1.1775,0.2170,10995.626953
35038,2020-01-01 04:30:00,0.3076,-0.0059,3000.620552,0.0557,0.0013,366.196098,0.0579,-0.0122,706.865263,...,5163.548861,0.5310,-0.0322,6258.045085,0.6719,0.0868,7655.474512,1.2104,0.1449,10995.826302
35039,2020-01-01 04:45:00,0.3102,-0.0074,3000.687523,0.0439,0.0045,366.206254,0.0923,0.0001,706.885559,...,5163.725033,0.5556,-0.0038,6258.163575,0.6633,0.0665,7655.584343,1.1647,0.1882,10996.026563

# EMBED
TODO

# HEART

In [4]:
# watts to kWh given data frequency as a fraction of an hour (e.g. 0.5 for half-hourly data)
def watts2kwh(df, data_frequency):
    df = df/1000 * data_frequency
    return df
def parse_name(file_name: str):
    """
    Parse the file name to get the house name
    """
    # appliance name
    appliance_name = file_name.split(".")[0]

    # date
    return appliance_name[:5] + "_" + appliance_name[5:]


# df = pd.read_csv("./Energy_graph/data/temp/HEART/HERON33.csv")
# df["Timestamp"] = pd.to_datetime(df["Timestamp"], unit="ms")

# df = df.set_index("Timestamp").drop(columns=["dw", "wm"])
# df = watts2kwh(df, 1/3600)

In [16]:
data_path = "./Energy_graph/data/temp/HEART/"
data_dict = {}
for file in os.listdir(data_path):
    if file.endswith(".csv"):
        # 
        df = pd.read_csv(data_path + file)
        # convert unix timestamp to datetime
        df["Timestamp"] = pd.to_datetime(df["Timestamp"], unit="ms")
        # set datetime as index and drop unnecessary columns
        df = df.set_index("Timestamp").drop(columns=["dw", "wm"])
        
        df.rename(columns={"Value": "aggregate"}, inplace=True)
        # convert watts to kilowatt hours
        df = watts2kwh(df, 1/3600)
        df.dropna(inplace=True)
        # create a dictionary of dataframes for each device
        devices_dict = {}
        for device in df.columns:
                devices_dict[device] = pd.DataFrame(df[device])
        # add the device dictionary to the data dictionary
        data_dict[parse_name(file)] = devices_dict

# IDEAL

In [ ]:
df = pd.read_csv("./Energy_graph/data/temp/IDEAL/sensordata/home100_bedroom1041_sensor4491_room_temperature.csv.gz")