In [13]:
import pandas as pd
import pickle

In [2]:
df = pd.read_csv("../../data/raw/DRED/All_data.csv", skiprows=1, parse_dates=["Unnamed: 0"]).drop(columns=["unknown"])
df = df.rename(columns={'Unnamed: 0':'time'})
df = df.dropna()

In [3]:
df["time"] = df["time"].astype(str)
df["time"] = df["time"].str.split("+").str[0]

In [4]:
df["time"] = pd.to_datetime(df["time"])
df.reset_index(drop=True, inplace=True)
df.set_index("time", inplace=True)

In [5]:
df.rename(columns={'mains':'aggregate'}, inplace=True)

In [6]:
def watts2kWh(df):
    df = df /1000 * 1/3600
    return df

In [7]:
df = watts2kWh(df)

In [8]:
df

,aggregate,television,fan,fridge,laptop computer,electric heating element,oven,washing machine,microwave,toaster,sockets,cooker
time,,,,,,,,,,,,
2015-07-05 00:00:26,0.000057,0.0,0.000008,0.000027,0.000008,6.361111e-07,0.0,1.888889e-07,3.444444e-07,0.0,2.041667e-06,0.0
2015-07-05 00:00:27,0.000056,0.0,0.000008,0.000027,0.000008,6.361111e-07,0.0,1.888889e-07,3.444444e-07,0.0,2.041667e-06,0.0
2015-07-05 00:00:28,0.000056,0.0,0.000008,0.000027,0.000008,6.361111e-07,0.0,1.888889e-07,3.444444e-07,0.0,2.041667e-06,0.0
2015-07-05 00:00:29,0.000056,0.0,0.000008,0.000027,0.000008,6.361111e-07,0.0,1.888889e-07,3.444444e-07,0.0,2.041667e-06,0.0
2015-07-05 00:00:30,0.000056,0.0,0.000008,0.000027,0.000008,6.361111e-07,0.0,1.888889e-07,3.444444e-07,0.0,2.041667e-06,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-05 11:59:57,0.000035,0.0,0.000000,0.000000,0.000000,9.277778e-07,0.0,2.638889e-07,2.722222e-07,0.0,6.111111e-07,0.0
2015-12-05 11:59:58,0.000035,0.0,0.000000,0.000000,0.000000,9.277778e-07,0.0,2.638889e-07,2.722222e-07,0.0,6.111111e-07,0.0
2015-12-05 11:59:59,0.000035,0.0,0.000000,0.000000,0.000000,9.277778e-07,0.0,2.638889e-07,2.722222e-07,0.0,6.111111e-07,0.0
2015-12-05 12:00:00,0.000036,0.0,0.000000,0.000000,0.000000,9.277778e-07,0.0,2.638889e-07,2.722222e-07,0.0,6.111111e-07,0.0
2015-12-05 12:00:01,0.000036,0.0,0.000000,0.000000,0.000000,9.277778e-07,0.0,2.638889e-07,2.722222e-07,0.0,6.111111e-07,0.0

In [14]:
data = {}
for c in df.columns:
    data[c] = pd.DataFrame(df[c])


res = {
    "DRED_1": data
}

# save to pickle
with open("DRED_processed.pickle", "wb") as f:
    pickle.dump(res, f, pickle.HIGHEST_PROTOCOL)

In [18]:
data = pd.read_pickle("./DRED_processed.pickle")
data["DRED_1"]["aggregate"]

                     aggregate
time
2015-07-05 00:00:26   0.000057
2015-07-05 00:00:27   0.000056
2015-07-05 00:00:28   0.000056
2015-07-05 00:00:29   0.000056
2015-07-05 00:00:30   0.000056
...                        ...
2015-12-05 11:59:57   0.000035
2015-12-05 11:59:58   0.000035
2015-12-05 11:59:59   0.000035
2015-12-05 12:00:00   0.000036
2015-12-05 12:00:01   0.000036

[13262376 rows x 1 columns]

In [1]:
from DRED_parser import parse_DRED

parse_DRED("../../data/raw/DRED/", "./test.pkl")

Data successfully saved to  ./test.pkl

In [3]:
import pandas as pd
data = pd.read_pickle("test.pkl")
data

{'DRED_1': {'aggregate':                      aggregate
  time
  2015-07-05 00:00:26   0.000057
  2015-07-05 00:00:27   0.000056
  2015-07-05 00:00:28   0.000056
  2015-07-05 00:00:29   0.000056
  2015-07-05 00:00:30   0.000056
  ...                        ...
  2015-12-05 11:59:57   0.000035
  2015-12-05 11:59:58   0.000035
  2015-12-05 11:59:59   0.000035
  2015-12-05 12:00:00   0.000036
  2015-12-05 12:00:01   0.000036

  [13262376 rows x 1 columns],
  'television':                      television
  time
  2015-07-05 00:00:26         0.0
  2015-07-05 00:00:27         0.0
  2015-07-05 00:00:28         0.0
  2015-07-05 00:00:29         0.0
  2015-07-05 00:00:30         0.0
  ...                         ...
  2015-12-05 11:59:57         0.0
  2015-12-05 11:59:58         0.0
  2015-12-05 11:59:59         0.0
  2015-12-05 12:00:00         0.0
  2015-12-05 12:00:01         0.0

  [13262376 rows x 1 columns],
  'fan':                           fan
  time
  2015-07-05 00:00:26  0.000008
  2015-07-05 00:00:27  0.000008
  2015-07-05 00:00:28  0.000008
  2015-07-05 00:00:29  0.000008
  2015-07-05 00:00:30  0.000008
  ...                       ...
  2015-12-05 11:59:57  0.000000
  2015-12-05 11:59:58  0.000000
  2015-12-05 11:59:59  0.000000
  2015-12-05 12:00:00  0.000000
  2015-12-05 12:00:01  0.000000

  [13262376 rows x 1 columns],
  'fridge':                        fridge
  time
  2015-07-05 00:00:26  0.000027
  2015-07-05 00:00:27  0.000027
  2015-07-05 00:00:28  0.000027
  2015-07-05 00:00:29  0.000027
  2015-07-05 00:00:30  0.000027
  ...                       ...
  2015-12-05 11:59:57  0.000000
  2015-12-05 11:59:58  0.000000
  2015-12-05 11:59:59  0.000000
  2015-12-05 12:00:00  0.000000
  2015-12-05 12:00:01  0.000000

  [13262376 rows x 1 columns],
  'laptop computer':                      laptop computer
  time
  2015-07-05 00:00:26         0.000008
  2015-07-05 00:00:27         0.000008
  2015-07-05 00:00:28         0.000008
  2015-07-05 00:00:29         0.000008
  2015-07-05 00:00:30         0.000008
  ...                              ...
  2015-12-05 11:59:57         0.000000
  2015-12-05 11:59:58         0.000000
  2015-12-05 11:59:59         0.000000
  2015-12-05 12:00:00         0.000000
  2015-12-05 12:00:01         0.000000

  [13262376 rows x 1 columns],
  'electric heating element':                      electric heating element
  time
  2015-07-05 00:00:26              6.361111e-07
  2015-07-05 00:00:27              6.361111e-07
  2015-07-05 00:00:28              6.361111e-07
  2015-07-05 00:00:29              6.361111e-07
  2015-07-05 00:00:30              6.361111e-07
  ...                                       ...
  2015-12-05 11:59:57              9.277778e-07
  2015-12-05 11:59:58              9.277778e-07
  2015-12-05 11:59:59              9.277778e-07
  2015-12-05 12:00:00              9.277778e-07
  2015-12-05 12:00:01              9.277778e-07

  [13262376 rows x 1 columns],
  'oven':                      oven
  time
  2015-07-05 00:00:26   0.0
  2015-07-05 00:00:27   0.0
  2015-07-05 00:00:28   0.0
  2015-07-05 00:00:29   0.0
  2015-07-05 00:00:30   0.0
  ...                   ...
  2015-12-05 11:59:57   0.0
  2015-12-05 11:59:58   0.0
  2015-12-05 11:59:59   0.0
  2015-12-05 12:00:00   0.0
  2015-12-05 12:00:01   0.0

  [13262376 rows x 1 columns],
  'washing machine':                      washing machine
  time
  2015-07-05 00:00:26     1.888889e-07
  2015-07-05 00:00:27     1.888889e-07
  2015-07-05 00:00:28     1.888889e-07
  2015-07-05 00:00:29     1.888889e-07
  2015-07-05 00:00:30     1.888889e-07
  ...                              ...
  2015-12-05 11:59:57     2.638889e-07
  2015-12-05 11:59:58     2.638889e-07
  2015-12-05 11:59:59     2.638889e-07
  2015-12-05 12:00:00     2.638889e-07
  2015-12-05 12:00:01     2.638889e-07

  [13262376 rows x 1 columns],
  'microwave':                         microwave
  time
  2015-07-05 00:00:26  3.444444e-07
  2015-07-05 00:00:27  3.444444e-07
  2015-07-05 00:00:28  3.444444e-07
  2015-07-05 00:00:29  3.444444e-07
  2015-07-05 00:00:30  3.444444e-07
  ...                           ...
  2015-12-05 11:59:57  2.722222e-07
  2015-12-05 11:59:58  2.722222e-07
  2015-12-05 11:59:59  2.722222e-07
  2015-12-05 12:00:00  2.722222e-07
  2015-12-05 12:00:01  2.722222e-07

  [13262376 rows x 1 columns],
  'toaster':                      toaster
  time
  2015-07-05 00:00:26      0.0
  2015-07-05 00:00:27      0.0
  2015-07-05 00:00:28      0.0
  2015-07-05 00:00:29      0.0
  2015-07-05 00:00:30      0.0
  ...                      ...
  2015-12-05 11:59:57      0.0
  2015-12-05 11:59:58      0.0
  2015-12-05 11:59:59      0.0
  2015-12-05 12:00:00      0.0
  2015-12-05 12:00:01      0.0

  [13262376 rows x 1 columns],
  'sockets':                           sockets
  time
  2015-07-05 00:00:26  2.041667e-06
  2015-07-05 00:00:27  2.041667e-06
  2015-07-05 00:00:28  2.041667e-06
  2015-07-05 00:00:29  2.041667e-06
  2015-07-05 00:00:30  2.041667e-06
  ...                           ...
  2015-12-05 11:59:57  6.111111e-07
  2015-12-05 11:59:58  6.111111e-07
  2015-12-05 11:59:59  6.111111e-07
  2015-12-05 12:00:00  6.111111e-07
  2015-12-05 12:00:01  6.111111e-07

  [13262376 rows x 1 columns],
  'cooker':                      cooker
  time
  2015-07-05 00:00:26     0.0
  2015-07-05 00:00:27     0.0
  2015-07-05 00:00:28     0.0
  2015-07-05 00:00:29     0.0
  2015-07-05 00:00:30     0.0
  ...                     ...
  2015-12-05 11:59:57     0.0
  2015-12-05 11:59:58     0.0
  2015-12-05 11:59:59     0.0
  2015-12-05 12:00:00     0.0
  2015-12-05 12:00:01     0.0

  [13262376 rows x 1 columns]}}